.topFixedBanner {
    background-image: url('../images/banner-bg.jpg');
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.topBannerOverlay {
    position: absolute;
    min-height: 500px;
    width: 100%;
    background-color: rgba(0, 0 , 0, 0.6);
}

.topContent {
    margin-top: 12rem;
}

.topTitle {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #fff;
    font-size: 48px;
}

.topSubTitle {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    color: #fff;
    font-size: 22px;
}

.serviceCard {
    margin: 5px;
    height: 22rem;
    padding: 60px 30px;
    box-shadow: 0 0 6px 0 rgba(0, 115, 230, 0.2);
}
.serviceCard:hover {
    box-shadow: 0 0 10px 0 rgba(0, 115, 230, 0.2);
}

.serviceCard img {
    width: 80px;
}

.mainTitle {
    color: #0073E6;
    margin-top: 5rem;
    margin-bottom: 3rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
    font-weight: 600;
}

.serviceName {
    margin-top: 1rem;
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    font-weight: 600;
}

.serviceDescription {
    margin-top: 1rem;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #7F7E7E;
}

.navTitle {
    font-family: 'Montserrat', sans-serif;
    color: #ffffff !important;
    font-weight: 700;
    font-size: 24px;
}

.navTitleScroll {
    font-family: 'Montserrat', sans-serif;
    color: #0073E6 !important;
    font-weight: 700;
    font-size: 24px;
}

.navBackground {
    background-color: rgba(0, 0, 0, 0.1) !important;
    transition: background-color 400ms linear;
    -o-transition: background-color 400ms linear;
    -moz-transition: background-color 400ms linear;
    -webkit-transition: background-color 400ms linear;
}

.navBackgroundScroll {
    background-color: #ffffff !important;
    transition: background-color 400ms linear;
    -o-transition: background-color 400ms linear;
    -moz-transition: background-color 400ms linear;
    -webkit-transition: background-color 400ms linear;
}

.navItem {
    text-decoration: none !important; 
    font-family: 'Montserrat', sans-serif;
    color: white ;
    font-weight: 400;
    font-size: 16px;
}

.navItemScroll {
    text-decoration: none !important; 
    font-family: 'Montserrat', sans-serif;
    color: black !important;
    font-weight: 400;
    font-size: 16px;
}

.description {
    font-weight: 400;
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    color: black !important;
}

.summaryBanner {
    background-image: url('../images/banner-bg.jpg');
    min-height: 350px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.summaryBannerOverlay {
    position: absolute;
    min-height: 350px;
    width: 100%;
    background-color: rgba(0, 0 , 0, 0.6);
}

.summarySection {
    margin-top: 5rem;
}

.countNumber {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
    font-weight: 600;

}

.countTitle {
    color: white;
    font-weight: 600;
    font-size: 22px;
    font-family: 'Raleway', sans-serif;
}

.countSection {
    margin-top: 16%;
}

.cardTitle {
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-weight: 600;
}

.cardSubTitle {
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.iconBullet {
    color: #0073E6;
    font-size: 16px;
}

.workCard {
    margin-top: 14%;
    padding: 10px;
    border-radius: 2px;
}

.projectCard {
    border-radius: 2px;
    border: none !important;
    margin: 2px;
    box-shadow: 0 0 6px 0 rgba(0, 115, 230, 0.2);
}
    
.projectCard:hover {
    box-shadow: 0 0 10px 0 rgba(0, 115, 230, 0.2);
}

.projectCardTitle {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 600;
}
    
.projectCardDescription {
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    font-weight: 400;
}

.courseImg {
    width: 100%;
}

.courseTitle {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 600;
}

.courseDescription {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 400;
}
    
.courseDetails {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    color: #0073E6;
}

.courseDetails:hover {
    text-decoration: none;
    
}

.videoCard {
    box-shadow: 0 0 6px 0 rgba(0, 115, 230, 0.2);
    padding: 6rem 3rem;
    margin: 50px auto;
}

.playButton {
    font-size: 48px;
    cursor: pointer;
}

.videoTitle {
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-weight: 600;
    color: #0073E6;
}

.videoDescription {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.circleImg {
    margin: 0 auto;
    width: 100px;
    height: 100px;
    border: 1px solid #0073E6;
    border-radius: 50%;
}

.footerSection {
    margin-top: 5rem;
    box-shadow: 0 0 6px 0 rgba(0, 115, 230, 0.2);

}

.socialLink {
    text-decoration: none;
    color: #0073E6;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 600;
}

.socialLink:hover {
    text-decoration: none;
    color: black;
}

.footerLink {
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #7F7E7E;
}
    
.footerLink:hover {
    text-decoration: none;
    color: #0073E6;
}

.copyRight {
    padding: 20px;
    background-color: #0073E6;
}

.copyRightLink {
    text-decoration: none;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
   
}
.copyRightLink:hover {
    text-decoration: none;
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.topFixedPage {
    background-image: url('../images/banner-bg.jpg');
    min-height: 280px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.topPageOverlay {
    position: absolute;
    min-height: 280px;
    width: 100%;
    background-color: rgba(0, 0 , 0, 0.6);
}

.topPageContent {
    margin-top: 9rem;
}
    
.topPageTitle {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    color: #fff;
    font-size: 28px;
}

.form-control:focus {
    border-radius: 2px !important;
    border-color: #cee0f3 !important;
    box-shadow: 0 0 4px 0 rgba(0, 115, 230, 0.2) !important;
}
